/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

:root {
    --light-blue: #457B9D;
    --dark-blue: #1D3557;
    --light: #F1FAEE;
    --aqua: #A8DADC;
}

*, ::before, ::after { box-sizing: border-box; }

body {
    margin: 0 auto;
    text-align: center;

    width: 720px;
    font-family: 'Arial';
    color: var(--dark-blue);

}

#activities img {
    width: 100px;
    border-radius: 50%;
}

#hero {
    background-image: url(images/torshov.jpg);
    background-size: cover;
    height: 343px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

#hero h1 {
    background: var(--dark-blue);
    border-radius: 10px;
    width: 225px;
    /* I should probably use padding instead of height */
    height: 42px;
    margin-top: 0;
    margin-bottom: 11px;

    font-size: 32px;
    line-height: 42px;
}

#hero h2 {
    background: var(--light-blue);
    border-radius: 10px;
    width: 412px;
    height: 52px;
    margin: 0;
    padding: 4px 0;

    font-size: 18.72px;
    line-height: 22px;
}

#activities {
    background-color: var(--light);
    display: flex;
    flex-direction: row;
    height: 343px;
    justify-content: space-evenly;
    align-items: center;

}

#activities section {
    width: 198px;
}

#activities h3 {
    font-size: 16px;
    line-height: 18px;
}

#guide {
    height: 394px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    background-color: var(--aqua);
    width: 400px;
    height: 294px;
    padding: 0 12px;

    box-shadow: 0px 6px 0px var(--dark-blue);
    border-radius: 10px;
}

#card img {
    width: 180px;
    border-radius: 10px;
}

#details h3 {
    font-size: 24px;
    line-height: 28px;
}

#details p {
    font-style: italic;
}